*{
  width: auto;
}
body{
  text-align: center;
  background: grey;

}
.container{
  border: solid black;
}
.count{
margin-left: 400px;
border-color: red;
font-size: 20px;
}
.reset{
margin-left: 360px;
}
.languageRadio{
  /* padding: 2px; */
  font-size: 20px;
}
span{
  font-size: 20px;
}
