*{
  width: auto;
}
body{
  text-align: center;
  background: grey;

}
.container{
  border: solid black;
}
.count{
margin-left: 400px;
border-color: red;
}
.greetMe{
margin-left: 360px;
}
/* .greeting{
  height: 50px;
  width: 190px;
  border: solid orange;
  margin-left: 38%;
  margin-top: 100px;
  margin-bottom: 50px
} */
/* .button-primary{
  width: 200px;
  height:50px;
  margin-left: 35%;
} */
